@use "../partials/forwards" as *;
@use "../partials/global";

.app {
  @include flex-container;
  position: relative;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#e639d8, #382436);
    background-size: cover;
    background-repeat: repeat;
    background-color: gray;
    z-index: -10;
    position: fixed;
  }
}
