@use "../../styleSheets/partials/forwards" as *;

.quiz {
  @include flex-container(initial, center, column);
  width: 100%;
  height: 100%;
}

.question-container {
  width: 100%;
  height: 40%;
  background-color: antiquewhite;
  border-radius: $borderRadius $borderRadius 50% 50%;
  padding: 4em 2em;
  text-align: center;
  color: black;
  font-size: clamp(1.2rem, 3vw, 1.7rem);
}
